<div class="row address-sections">
	<div class="col-md-6">
		<h3 class="address-header">Bangladesh Office:</h3>
		<div class="address address-text">
			<p>SnS Tex Dhaka</p>
			<p>House # Sunayana 23</p>
			<p>Flat: 3B</p>
			<p>Sonargaon Janapath Road</p>
			<p>Sector -12</p>
			<p>Uttara, Dhaka</p>
			<p>1230</p>
			<p>Bangladesh</p>
		</div>
		<div class="address address-text">
			<p>+880 1911 3424 84 </p>  
		</div>   
	</div>
	<div class="col-md-6">
	  <div id="bangla-map"></div>
	</div>
</div>