<div class="row address-sections">
	<div class="col-md-6">
		<h3 class="address-header">Malaysia Office:</h3>
		<div class="address address-text">
			<p>SnS Tex Sdn Bhd</p>
			<p>84 Lorong Perda Timur</p>
			<p>Bandar Perda</p>
			<p>Bukit Mertajam</p>
			<p>14000 Penang</p>
			<p>Malaysia</p>
		</div>
		<div class="address address-text">
			<p>+604 530 0599</p>  
		</div>   
	</div>
	<div class="col-md-6">
	  <div id="malaysia-map"></div>
	</div>
</div>