<div class="row address-sections">
	<div class="col-md-6">
		<h3 class="address-header">UK Office:</h3>
		<div class="address address-text">
			<p>SnS Tex International</p>
			<p>Unit 6</p>
			<p>238 High Road</p>
			<p>London</p>
			<p>N2 9AH</p>
			<p>UK</p>
		</div>
		<div class="address address-text">
			<p>+44 208 444 5838</p>
			<p>+44 7456 682273</p>  
		</div>   
	</div>
	<div class="col-md-6">
	  <div id="uk-map"></div>
	</div>
</div>