<div class="container">
	<div class="row">
		<div class="col-md-12 centre">
			<h3 class="section-header">Our Awards</h3>
		</div>
		<div class="col-md-12 centre">
			<div class="col-md-6">
				<%= image_tag("awards/award_logo2.png", class: "award-images") %>
			</div>
			<div class="col-md-6 centre">
				<%= image_tag("awards/trophy3.png", class: "award-images") %>
			</div>
		</div>
	</div>
</div>