<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>


  <div class="carousel-inner">
    <div class="item active carousel-img">
      <%= image_tag('carousel/thread_blue.jpg', class: "car-img fill") %>
    </div>
    <div class="item carousel-img">
      <%= image_tag('carousel/sewing.png', class: "car-img fill") %>
    </div>
    <div class="carousel-caption">
      <h3>ONE STOP FOR ALL YOUR GARMENT AND TEXTILE NEEDS</h3>
      <p>A Global Network of Sourcing Capabilities</p>
    </div>
  </div>
</div>
