<div class="grey-container">
	<div class="container">
		<div class="row">
			<div class="col-md-12 centre">
				<h3 class="section-header">Contact Us</h3>
			</div>
			<div class="col-md-6 col-md-offset-3 centre contact-box">
				<div class="col-md-6">
					<a href="tel:0123456789"><i class="fa fa-phone fa-3x contact-icon"></i></a> <br>
					<span class="contact-text"><a href="tel:0123456789">012-345-6789</a></span>
				</div>
				<div class="col-md-6">
					<%= mail_to "suraj@email.com" do %>
						<i class="fa fa-envelope-o fa-3x contact-icon"></i>
					<% end %> <br>
					<span class="contact-text"><%= mail_to "suraj@email.com", "Email Us" %></span>
				</div>
			</div>
		</div>
	</div>
</div>