<div class="grey-container">
	<div class="container">
		<div class="row">
			<div class="col-md-12 centre">
				<h3 class="section-header">Our Service</h3>
			</div>
			<div class="col-md-12 service-text">
				<p>SnS Tex specialises in providing expert services and tailored products in garments and textiles. We have over 15 years' experience working in these industries, in which time we have established global networks allowing us to meet client needs.</p>
				<p>No matter what quality, style or price range you require, we have sourcing capabilities in Malaysia, Thailand, Indonesia, China, India, Bangladesh and Europe to meet any requests. When it comes to textiles and garments, you name it, we will make it!</p>
				<p>Having this expansive network provides our clients with the confidence that in an ever-changing fashion industry we will respond dynamically and be the first to adapt to their needs.</p>
			</div>
		</div>
	</div>
</div>