<div class="grey-container">
	<div class="container">
		<div class="row">
			<div class="col-md-12 centre">
				<h3 class="section-header">Our Value Proposition</h3>
			</div>
			<div class="col-md-12 service-text">
				<div class="row">
					<div class="col-md-3 centre">
						<div class="img-box">
							<%= image_tag("icons/gps-1.png", class: "img-responsive img icon-img") %>
						</div>
					</div>
					<div class="col-md-3 centre">
						<div class="img-box">
							<%= image_tag("icons/people.png", class: "img-responsive icon-img") %>
						</div>
					</div>
					<div class="col-md-3 centre">
						<div class="img-box">
							<%= image_tag("icons/tool.png", class: "img-responsive icon-img") %>
						</div>
					</div>
					<div class="col-md-3 centre">
						<div class="img-box">
							<%= image_tag("icons/transport-1.png", class: "img-responsive icon-img") %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>