<div class="grey-container">
	<div class="container">
		<div class="row">
			<div class="col-md-12 centre">
				<h3 class="section-header">Our Value Proposition</h3>
			</div>
			<div class="col-md-12 service-text">
				<div class="row icon-row">
					<div class="col-md-3 centre">
						<div class="img-box">
							<%= image_tag("icons/signs.png", class: "img-responsive img") %>
						</div>
						<span class="bold val-desc">Sourcing</span>
					</div>
					<div class="col-md-3 centre">
						<div class="img-box">
							<%= image_tag("icons/people.png", class: "img-responsive") %>
						</div>
						<span class="bold val-desc">Sampling</span>
					</div>
					<div class="col-md-3 centre">
						<div class="img-box">
							<%= image_tag("icons/tool.png", class: "img-responsive") %>
						</div>
						<span class="bold val-desc">Production</span>
					</div>
					<div class="col-md-3 centre">
						<div class="img-box">
							<%= image_tag("icons/transport-1.png", class: "img-responsive") %>
						</div>
						<span class="bold val-desc">Delivery</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="bold centre">In this highly volatile global economy, all organisations are faced with risk. Our value proposition is to take that risk <span class="italic">away</span> from our clients.</p>
						<p class="centre">If our clients were to manage the above process directly, they would face risk at every stage: </p>
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<ul class="value-bottom">
									<li>the risk of sourcing a factory that you can trust</li>
									<li>the risk of receiving samples that are within specifications</li>
									<li>the risk of quality issues in production</li>
									<li>the risk of delays in delivery</li>
								</ul>
							</div>
						</div>
						<p class="centre">We are confident that we have the ability to extract and minimise these risks at every stage.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>