<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active carousel-img">
      <%= image_tag('static_top/fabrics_textiles/machine.jpg', class: "car-img fill") %>
    </div>
    <div class="carousel-caption">
      <h3>FABRICS & TEXTILES</h3>
    </div>
  </div>
</div>
