<div class="container">
	<div class="row">
		<div class="col-md-12 centre">
			<h3 class="section-header">Our People & Culture</h3>
		</div>
		<div class="col-md-12 service-text about-main">
			<p>Our ethos is to treat our suppliers and customers as partners. We understand that in the textile and garments industries we are working with little room for error. Our team travels extensively for face to face meetings with our clients to have a complete understanding of how they work. All clients are different and we believe it is incumbent on us to adapt to their needs.</p>
			<p>We understand the importance of meeting our customer deadlines and therefore once orders are confirmed our support staff are in constant communication with both the suppliers and the customer. Having local offices in Bangladesh, the UK and Malaysia further enhances our ability to be efficient and proactive in meeting our customers needs.</p>
		</div>
	</div>
</div>