<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>


  <div class="carousel-inner">
    <div class="item active carousel-img">
      <%= image_tag('static_top/knitted/knitted_top.jpg', class: "car-img fill") %>
    </div>
    <div class="carousel-caption">
      <h3>KNITTED</h3>
    </div>
  </div>
</div>
