<div class="container">
	<div class="row">
		<div class="col-md-12 service-text knitted-main">
			<p>The founders of SNS Tex are Malaysian and given their passion for garments it is only right that we are able produce a diverse range of Baju Melayu and Jubbahs. We have sourced factories in China, Bangladesh and Malaysia that can produce these garments.</p>
		</div>
		<div class="col-md-12 product-row traditional-1">
			<div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/traditional/1_baju.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/traditional/2_baju.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/traditional/3_baju.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/traditional/4_baju.jpg') %>
				</div>
			</div>
		</div>
	</div>
</div>