<div class="container">
	<div class="row">
		<div class="col-md-12 service-text knitted-main clients-main">
			<p>At S N S Tex we provide opportunities across Sales, Marketing, Accounting, Merchandising, and Design. We are looking for motivated individuals who are willing to learn and work in a dynamic team. We work in a very people orientated environment where we are in constant communication with our suppliers, customers and colleagues in order to achieve our objectives – therefore strong communication and relationship building skills are essential. We encourage an inclusive and approachable culture at our organisation and therefore senior personnel at the company are always available to enhance the development of candidates joining us.</p>
		</div>
	</div>
</div>